<!DOCTYPE html>
<html>
<head>
    <title>Mange Community RPG</title>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
    <body class="container-fluid">
        <h1>Mange Community RPG</h1>

        <h2>Questions</h2>
        <ol class="list-group">
        {{# questions }}
            <li class="list-group-item">
                {{> templates/manage/question }}
            </li>
        {{/ questions }}
        </ol>

        <h2>Tokens</h2>
        {{> templates/manage/tokens }}

    </body>
</html>