<li class="list-group-item" data-question-id="{{question_id}}">
    <strong>{{text}}</strong>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th class="col-xs-5"></th>
                <th class="col-xs-2">Yes</th>
                <th class="col-xs-2">No</th>
                <th class="col-xs-3"></th>
            </tr>
        </thead>
        {{#tokens}}
            <tr>
                <td>{{title}}</td>
                <td>{{yes_weight}}</td>
                <td>{{no_weight}}</td>
                <td>
                    <button class="btn btn-sm btn-info">Edit</button>
                    <button class="btn btn-sm btn-warning">Delete</button>
                </td>
            </tr>
        {{/tokens}}

        <tr class="form-group">
                <td>
                    <select class="form-control token-id" name="token_id">
                        {{#all_tokens}}
                            <option value="{{token_id}}">{{title}}</option>
                        {{/all_tokens}}
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control yes-weight" name="yes_weight">
                </td>
                <td>
                    <input type="text" class="form-control no-weight" name="no_weight">
                </td>
                <td><button type="submit" class="add-weight btn btn-sm btn-success">Add Token</button></td>
        </tr>
    </table>
</li>