<table class="tokens table table-striped table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    {{#all_tokens}}
        {{>templates/manage/token_row}}
    {{/all_tokens}}
</table>
<form class="add-new-token form-inline">
    <div class="col-xs-5 form-group">
        <input type="text" name="title" class="form-control">
    </div>
    <button type="submit" class="btn btn-sm btn-success">Add token</button>
</form>