<tr data-token-id={{token_id}}>
    <td class="col-xs-5">{{title}}</td>
    <td>
        <button class="btn btn-sm btn-info edit">Edit</button>
        <button class="btn btn-sm btn-warning delete">Delete</button>
    </td>
</tr>